# exclude all
/*

# include important folders
# need gradle 
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!build.properties

# include markdowns
!README.md

!LICENSE
!COPYING
!COPYING.LESSER
!LICENSE-3RD-PARTY.txt
# include sourcecode
!src/

# include git important files
!.gitignore

